@page "/actors/create"
@using Dottor16DvdRental.Web.services.ActorsServices
@inject IActorsServices ActorsServices
@inject NavigationManager Nav
@inject ILogger<Create> Logger

<h3>Create new Actor</h3>

@if(!string.IsNullOrWhiteSpace(_errorMessage))
{
    <div class="alert alert-danger mb-2" role="alert">
        @_errorMessage
    </div>
}

<EditForm Model="_newActor" OnValidSubmit="InsertActorAsync">
    <DataAnnotationsValidator />

    <ValidationSummary class="border rounded border-danger bg-danger-subtle" />

    <label for="txtName">First Name</label>
    <InputText @bind-Value="_newActor.FirstName"
               id="txtName"
               class="form-control" />
    <label for="txtSurname">Surname</label>
    <InputText @bind-Value="_newActor.LastName"
               id="txtSurname"
               class="form-control" />
    <button type="submit" class="btn btn-primary mt-2">Save</button>
    <a href="/actors" class="btn btn-secondary mt-2">Undo</a>

</EditForm>

@code {
    private Actor _newActor = new ();
    private string? _errorMessage;

    private async Task InsertActorAsync()
    {
        try
        {
            await ActorsServices.InsertActorAsync(_newActor);
            Nav.NavigateTo("/actors");
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Error occurred while saving the actor.");
            _errorMessage = "An error occurred while saving the actor. Please try again.";
        }
    }
}
