@page "/js-samples"
@implements IAsyncDisposable

@inject IJSRuntime JS

<h3>JsSamples</h3>

<button class="btn btn-secondary" type="button" @onclick="ExecuteSample1Async">Show Text</button>
<button class="btn btn-secondary" type="button" @onclick="ExecuteSample2Async">Add 2+3</button>
<button class="btn btn-secondary" type="button" @onclick="ExecuteSample3Async">Set Content</button>
<button class="btn btn-secondary" type="button" @onclick="ExecuteSample4Async">Call JS module method</button>
<button class="btn btn-secondary" type="button" @onclick="ExecuteSample5Async">Call .Net from Js</button>
<button class="btn btn-secondary" type="button" @onclick="ExecuteSample6Async">Show Actor</button>


<div @ref="_div"></div>

@if (!string.IsNullOrWhiteSpace(_message))
{
    <div class="alert alert-info" role="alert">
        @_message
    </div>
}

@code {
    private ElementReference _div;
    private IJSObjectReference? _module;
    private DotNetObjectReference<JsSample>? _dotNetRef;
    private string? _message;

    private async Task ExecuteSample6Async()
    {
        var actor = new Actor
            {
                FirstName = "Riccardo",
                LastName = "Mandich",
            };
        if (_module is not null)
        {
            await _module.InvokeVoidAsync("showActor", actor);
        }
    }

    private async Task ExecuteSample5Async()
    {
        _message = null;
        if(_module is not null)
        {
            await _module.InvokeVoidAsync("initTimer", _dotNetRef);
        }
    }

    [JSInvokable]
    public async Task SetText(string message)
    {
        _message = message;
        await InvokeAsync(StateHasChanged);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _dotNetRef = DotNetObjectReference.Create<JsSample>(this);
            _module = await JS.InvokeAsync<IJSObjectReference>("import", "./Components/Pages/JsSample.razor.js");
        }
    }

    public async ValueTask DisposeAsync()
    {
        try
        {
            if (_module is not null)
            {
                await _module.DisposeAsync();
            }
            if(_dotNetRef is not null)
            {
                _dotNetRef.Dispose();
            }
        }
        catch (JSDisconnectedException) { }
    }

    private async Task ExecuteSample4Async()
    {
        if (_module is not null)
        {
            await _module.InvokeVoidAsync("showMessage", "JS Module - Ciao!");
        }
    }

    private async Task ExecuteSample3Async()
    {
        await JS.InvokeVoidAsync("setContent", _div, "<h3 style='color:red;'>Ciao ITS!</h3>");
    }

    private async Task ExecuteSample2Async()
    {
        int result = await JS.InvokeAsync<int>("add", 2, 3);
        await JS.InvokeVoidAsync("showText", $"2+3={result}");
    }

    private async Task ExecuteSample1Async()
    {
        await JS.InvokeVoidAsync("showText", "Ciao ITS!");
    }
}